.button {
    padding: 10px 20px;
    background-color: #00acee;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    width: 7vw;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    height: max-content;

    &__logout {
        position: relative;
        left: 30vw;
        background-color: #ff0000;
    }
    &__search {
        position: absolute;
        right: -200%;
        top: 20px;
    }
}