.user-profile-wrapper {
    margin-left: 20px;
    margin-top: 20px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(145, 145, 145);

}

.header-wrapper{
    position: relative;
}

.user-profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    img{
        top: 10%;
    }

}

.joined-date {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #666;
    font-size: 0.9rem;

    .icon {
        margin-right: 8px;
        color: #00acee;
        /* Optional: Adjust the color to match the theme */
        font-size: 1.2rem;
    }
}

.followers-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    margin-top: 20px;

    p {
        font-size: 1.2rem;
        // margin: 10px;
    }
}

.follow-button {
    background-color: #1da1f2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  
    &:hover {
      background-color: #0d8ddb;
    }
  
    &.unfollow {
      background-color: #ff4d4d;
  
      &:hover {
        background-color: #e60000;
      }
    }
  }

  .follow-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }